@mixin grid {
  display: -ms-grid;
  display: grid;
}

// Check grid branch

.wrapper {
  border: 1px dotted grey;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include media(sm) {
    max-width: 90%;
  }
  @include media(md) {
    max-width:  80%;
  }
}


