body {
  font-family: $base-font-family;
}

img {
  max-width: 100%;
}

.wrapper {
  border: 1px dotted grey;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.5em;

  @include media(sm) {
    max-width: 90%;
  }
}