body {
  font-family: $base-font-family;
  margin-top: $base-header-height; // dla fixed header
  background-color: $base-bkg-color;
  @include media(xl) {
    margin-top: $xl-header-height;  // dla fixed header
  }
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.5em;
}
