body {
  font-family: $base-font-family;
  margin-top: 40px; // dla fixed header
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.5em;
  @include media(md) {
    max-width: 90%;
    display: flex;
    background-color: #ed145b;
  }
}
