.header {
  background-color: darkgrey;
}

.header__main {
  display: flex;
  justify-content: space-between;
  border: $border;
}

.header_sub {
  text-align: center;
  display: none;
  @include media(sm) {
    display: block;
  }
}