.listing {
  grid-area: listing;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.image-box {
  border: 1px solid blue;
  margin-top: 1em;
  min-width: 200px;
  min-height: 200px;
}

