.list {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  @include media(md) {
    width: 80%;
  }
}

.list__card {
  border: 1px solid blue;
  margin: 1em;
  min-width: 200px;
  min-height: 200px;
}

// only for mobile
.slide-in {
  right: 10em;
  -webkit-animation: slide-in 1s forwards;
  animation: slide-in 1s forwards;
}
@-webkit-keyframes slide-in {
  100% { right: 0 }
}
@keyframes slide-in {
  100% { right: 0 }
}

.slide-out {
  right: 0;
  -webkit-animation: slide-out 1s forwards;
  animation: slide-out 1s forwards;
}
@-webkit-keyframes slide-out {
  100% { right: 10em }
}
@keyframes slide-out {
  100% { right: 10em }
}
