.list {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list__card {
  border: 1px solid blue;
  margin: 1em;
  min-width: 200px;
  min-height: 200px;
}

