%nav__overlay {
  z-index: 400;
  position: fixed;
  top: $base-header-height;
  left: $nav-width;
  width: 100%;
  height: 100%;
  background-color: $black;
  //background-color: rgba(0,0,0,0.6);
}

%nav__box {
  background-color: $grey;
  height: 100%;
  width: $nav-width;
  position: fixed;
  z-index: 500;
  text-align: center;
  padding-top: 1em;
  @include media(md) {
    position: fixed;
    background-color: inherit;
    border-left: 1px solid white;
  }
}

.nav__container {
  width: 15%;

}
.nav__item {
  padding: 1em;
  border-bottom: 1px solid white;
  @include media(md) {
    padding: 1.5em;
  }
}

.nav__btn {
  @extend %button;
  font-size: 1em;
  background-color: $grey;
  &::after {
    @extend %btn-underline;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
  @include media(md) {
    background-color: inherit;
    border: none
  }
}

/* ----- only for mobile view - nav sliding in and out ------ */

.nav__box--hidden {
  display: none;
}

.nav__overlay--hidden {
  opacity: 0;
}

.nav__overlay--hide {
  @extend %nav__overlay;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.nav__overlay--show {
  @extend %nav__overlay;
  opacity:0.7;
  transition: opacity 0.8s ease-in;
}


.nav__box--hide {
  @extend %nav__box;
  left: 0;
  -webkit-animation: hide-box 0.5s forwards;
  animation: hide-box 0.5s forwards;
}
@-webkit-keyframes hide-box {
  100% { left: -10em }
}
@keyframes hide-box {
  100% { left: -10em }
}

.nav__box--show {
  @extend %nav__box;
  left: -10em;
  -webkit-animation: show-box 0.5s forwards;
  animation: show-box 0.5s forwards;
}
@-webkit-keyframes show-box {
  100% { left: 0 }
}
@keyframes show-box {
  100% { left: 0}
}

/* ----- END ------ */

/* only for tablet view - nav aside */

.nav__overlay--aside {
  display: none;
}

.nav__box--aside {
  @extend %nav__box;
}



// poniżej z slide in and out dla overlay
//.nav__overlay--hide {
//  @extend %nav__overlay;
//  left: 0;
//  -webkit-animation: hide-overlay 0.8s forwards;
//  animation: hide-overlay 0.8s forwards;
//}
//@-webkit-keyframes hide-overlay {
//  100% { left: -100% }
//}
//@keyframes hide-overlay {
//  100% { left: -100% }
//}
//
//.nav__overlay--show {
//  @extend %nav__overlay;
//  left: -100%;
//  -webkit-animation: show-overlay 0.8s forwards;
//  animation: show-overlay 0.8s forwards;
//}
//@-webkit-keyframes show-overlay {
//  100% { left: 0 }
//}
//@keyframes show-overlay {
//  100% { left: 0}
//}






