.header__title, .header__subtitle {
  margin: 0;
  color: #1c1c1c;
  font-weight: 500; }

.header__searchBtn, .header__menuBtn {
  color: #1c1c1c;
  font-family: "Raleway", sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 5px;
  border: 0.5px solid #e7e7e7;
  font-size: 1em;
  padding: 0.2em 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer; }
  .header__searchBtn:hover, .header__menuBtn:hover {
    background-color: #e7e7e7; }

/*
aside.primary {
  float: right;
  width: 350px;
  @include media(sm) {
    float: none;
    width: 100%;
  }
}

.grid-1-4 {
  width: 100%;
  @include media(sm) {
    width: 50%;
  }
  @include breakpoint(md) {
    width: 25%;
  }
}
 */
body {
  font-family: "Raleway", sans-serif;
  margin-top: 40px;
  background-color: #f4f4f4; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0; }

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.5em; }
  @media screen and (min-width: 767px) {
    .wrapper {
      max-width: 90%;
      display: flex; } }

.header {
  background-color: #f4f4f4;
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px; }
  @media screen and (min-width: 1200px) {
    .header {
      height: 100px; } }

.header__main {
  padding: 0 1em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
  height: 100%; }
  @media screen and (min-width: 767px) {
    .header__main {
      grid-template-columns: 1fr; } }
  @media screen and (min-width: 1200px) {
    .header__main {
      grid-template-rows: 1fr 1fr;
      align-content: center; } }

@media screen and (min-width: 767px) {
  .header__searchBtn {
    display: none; } }

@media screen and (min-width: 767px) {
  .header__menuBtn {
    display: none; } }

.header__title {
  text-transform: uppercase;
  letter-spacing: 0.2em; }

.header__subtitle {
  display: none; }
  @media screen and (min-width: 1200px) {
    .header__subtitle {
      display: block;
      font-style: italic; } }

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; }
  @media screen and (min-width: 767px) {
    .list {
      width: 80%; } }

.list__card {
  border: 1px solid blue;
  margin: 1em;
  min-width: 200px;
  min-height: 200px; }

.slide-in {
  right: 10em;
  -webkit-animation: slide-in 1s forwards;
  animation: slide-in 1s forwards; }

@-webkit-keyframes slide-in {
  100% {
    right: 0; } }
@keyframes slide-in {
  100% {
    right: 0; } }
.slide-out {
  right: 0;
  -webkit-animation: slide-out 1s forwards;
  animation: slide-out 1s forwards; }

@-webkit-keyframes slide-out {
  100% {
    right: 10em; } }
@keyframes slide-out {
  100% {
    right: 10em; } }
.nav {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 10em;
  opacity: 0.8;
  position: fixed; }
  @media screen and (min-width: 767px) {
    .nav {
      position: static;
      width: 20%; } }

.hidden {
  display: none; }

.hide {
  right: 0;
  -webkit-animation: hide 1s forwards;
  animation: hide 1s forwards; }

@-webkit-keyframes hide {
  100% {
    right: -10em; } }
@keyframes hide {
  100% {
    right: -10em; } }
.show {
  right: -10em;
  -webkit-animation: show 1s forwards;
  animation: show 1s forwards; }

@-webkit-keyframes show {
  100% {
    right: 0; } }
@keyframes show {
  100% {
    right: 0; } }
.nav__box {
  background-color: blue;
  height: 80%;
  display: flex;
  align-items: flex-start;
  position: fixed; }

.nav__list {
  background-color: white;
  text-align: center; }

.nav__item {
  padding: 1em; }

/*# sourceMappingURL=main.css.map */
