// fonts:
$base-font-family: 'Raleway', sans-serif;

// layout:
$border: 1px dotted red;

// sizes:
$base-header-height: 70px;
$xl-header-height: 100px;
$nav-width: 10em;

// color:
$base-bkg-color: #f4f4f4;
$header-bkg-color: #e2e2e2;
$black: #1c1c1c;
$grey: #e7e7e7;

// headings:
%heading {
  margin: 0;
  color: $black;
  font-weight: 500;
}

// buttons:
%button {
  color: $black;
  font-family: $base-font-family;
  background-color: $base-bkg-color;
  text-align: center;
  border-radius: 5px;
  border: 0.5px solid $grey;
  font-size: 1em;
  padding: 0.2em 1em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}

%btn-underline {
  content: '';
  display: block;
  background-color: $black;
  height: 1px;
  width: 0;
  transition: ease-out 0.3s;
}


